<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Nazwa instytucji</th>
        <th>Adres</th>
        <th>Pomoc grupom</th>
    </tr>
    </thead>
    <tbody>
    {% for institution in institutions %}
        <tr>
            <td>{{ institution }}</td>
            <td>
                Ulica: {{ institution.address.street }} {{ institution.address.building_number }}/{{ institution.address.flat_number }}
                miasto: {{ institution.address.city }}</td>
            <td>{% for val, key in inst_group.items %}
                {% if val == institution.name %}
                    {{ key }}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>